
# Java
*.class
*.jar

# Gradle
.gradle
!gradle-wrapper.jar
!gradle-wrapper.properties
**/build
!src/**/build

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Fix for stupid bin folder (https://github.com/redhat-developer/vscode-java/issues/2344)
bin

# Other
private
